body {
    color: #dddddd;
    background: #d4d3ca
    !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.construcao {
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
}

h1,
h3, 
h4,
h5, 
h6 {
    color: #f1f1f1;
}

@media (max-width: 800px) {
    .construcao img {
        width: 100%;
    }
}

@media (max-width: 1280px) {
    .construcao img {
        width: 100%;
    }
}

@media (max-width: 1536px) {
    .construcao img {
        width: 100%;
    }
}